include common/_mixins

doctype html
html
    head
        title
        block title
    body
        .wrapper
            .main-content
            include common/_header
            +nav(TopHead__navigation, ['Планшеты', 'Мобильные телефоны', 'Мр3 плееры', 'Персональные компьютеры', 'Ноутбуки', 'Аксессуары', 'Бытовая техника'])
                .chench-menu
                .container-chench
                block chench
                .number-page
                .text-block
        footer.footer
            .cont-footer
                .footer-content
                    .footer-content__logo
                    .footer-content__socials
                    .footer-content__text
                .footer-down
                  |All rigths reserved. 2015. no copy alowed

