extends ../index.jade

block title
    |Главная страница

block chench
    ul.container-chench__item
        li.container-chench__item-list
        li.container-chench__item-list
        li.container-chench__item-list
