.top-menu
                aside.navigation
                    ul.accordion
                        li.accordion__list Наличие в магазине
                        li.accordion__list Бренды
                        li.accordion__list Цена
                        li.accordion__list Цвет
                        li.accordion__list Операционные системы